<div class="col-10 offset-1 about">
  <h1>About Quoty</h1>

  <p>
    Quoty was built by <a target="_blank" href="http://github.com/Majun1990">Merijun</a>. 
    A budding web developer who wants to be able to work remotely with her husband.
  </p>
    <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
</div>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Merijun Allen</h2>
    <br />
    <p>
      Merijun Allen is a promising web developer. She currently works as a Baylor Physical Therapist but would like to work remotely. Her spouse is an owner of a virtual realty company and a care-box shipping business. She is a mom to twin boys who are thirteen years old and an eleven year old Tibetan terrier. Her goal is to be able to improve her husband's shipping company website and create a web based data base program for him and his agents.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />