<h2>
  <span>QUOTY / No. <%= @quote.id %></span>
  &nbsp;&nbsp;
  Here's the <u>best advice</u> to motivate you!
</h2>
<br/>
<h1><%= @quote.saying %></h1>
<h2 class="float-right">-<%= @quote.author %></h2>

<br class="clear">
<br />
<br />
<br />